<div class="requested-applications">

    <h1>Mentorship Applications for Approval</h1>
  
    <input type="text" placeholder="Search by Career Goals" [(ngModel)]="filteredApplications" (input)="search()" style="width:300px;">
  
    <select [(ngModel)]="statusFilter"(change)="search()">
  
      <option value="">All Status</option>
  
      <option value="Pending">Pending</option>
  
      <option value="Approved">Approved</option>
  
      <option value="Rejected">Rejected</option>
  
    </select>
  
    <br><br>
  
    <table border="1" width="100%">
  
      <thead>
  
        <tr>
  
          <th>User ID</th>
  
          <th>Program ID</th>
  
          <th>Career Goals</th>
  
          <th>Reason</th>
  
          <th>Profile Image</th>
  
          <th>Status</th>
  
          <th>Actions</th>
  
        </tr>
  
      </thead>
  
      <tbody *ngIf="filteredApplications.length > 0; else noData">
  
        <tr *ngFor="let app of filteredApplications">
  
          <td>{{ app.UserId }}</td>
  
          <td>{{ app.MentorshipProgramId }}</td>
  
          <td>{{ app.CareerGoals }}</td>
  
          <td>{{ app.ReasonForApplying }}</td>
  
          <td><button (click)="viewProfileImage(app.ProfileImage)">View Profile Image</button></td>
  
          <td>{{ app.ApplicationStatus }}</td>
  
          <td>
  
            <button *ngIf="app.ApplicationStatus === 'Pending'" (click)="approve(app)">Approve</button>
  
            <button *ngIf="app.ApplicationStatus === 'Pending'" (click)="reject(app)">Reject</button>
  
          </td>
  
        </tr>
  
      </tbody>
  
    </table>
  
    <ng-template #noData>
  
      <p>Oops! No records Found.</p>
  
    </ng-template>
  
  </div>