
<div class="edit-mentorship">

    <h1>Edit Mentorship Program</h1>
  
    <form (ngSubmit)="update()">
  
      <label>Program Name*</label><br>
  
      <input type="text" [(ngModel)]="mentorship.ProgramName" name="ProgramName" required><br><br>
  
      <label>Description*</label><br>
  
      <input type="text" [(ngModel)]="mentorship.Description" name="Description" required><br><br>
  
      <label>Field Of Mentorship*</label><br>
  
      <input type="text" [(ngModel)]="mentorship.FieldOfMentorship" name="FieldOfMentorship" required><br><br>
  
      <label>Duration (in Months)*</label><br>
  
      <input type="number" [(ngModel)]="mentorship.DurationInMonths" name="DurationInMonths" required><br><br>
  
      <label>Mentor Name*</label><br>
  
      <input type="text" [(ngModel)]="mentorship.MentorName" name="MentorName" required><br><br>
  
      <label>Experience Level*</label><br>
  
      <input type="text" [(ngModel)]="mentorship.ExperienceLevel" name="ExperienceLevel" required><br><br>
  
      <label>Mode Of Mentorship*</label><br>
  
      <input type="text" [(ngModel)]="mentorship.ModeOfMentorship" name="ModeOfMentorship" required><br><br>
  
      <button type="submit">Update Mentorship Program</button>
  
      <button type="button" (click)="back()">Back</button>
  
    </form>
  
  </div>
  
  
  
  
  