<div class="admin-feedback">

  <h1>Feedback Details</h1>

  <table border="1" width="100%" *ngIf="feedbacks.length > 0; else noData">

    <thead>
      <tr>
        <th>User ID</th>
        <th>Feedback</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let feedback of feedbacks">
        <td>{{ feedback.UserId }}</td>
        <td>{{ feedback.FeedbackText }}</td>
        <td>{{ feedback.Date | date: 'medium' }}</td>
      </tr>
    </tbody>

  </table>

  <ng-template #noData>
    <p>No data found</p>
  </ng-template>

</div>
`