<!-- <div>
<nav>
    <h1>Admin Dashboard</h1>  
    <a routerLink="/home">Home</a> |  
    <div class="indiv">  
      <span>Mentorship Program</span>  
      <ul>  
        <li><a routerLink="/add-mentorship">Add Mentorship Program</a></li>  
        <li><a routerLink="/view-mentorships">View Mentorship Programs</a></li>  
      </ul>  
    </div>   
    <a routerLink="/requested-applications">Mentorship Applications</a> |  
    <a routerLink="/feedbacks">Feedbacks</a> |  
    <a (click)="logout()" style="cursor:pointer;">Logout</a>  
 </nav>  
<hr>
</div>

<app-home></app-home> -->