
<nav>
 
  <h1>User Dashboard</h1>
 
  <a routerLink="/user/home">Home</a> |
 
  <a routerLink="/user/view-mentorships">Mentorship Programs</a> |
 
  <a routerLink="/user/applied-mentorships">Applied Programs</a> |
 
  <div style="display: inline-block;">
 
    <span>Feedback</span>
 
    <ul>
 
      <li><a routerLink="/user/post-feedback">Post Feedback</a></li>
 
      <li><a routerLink="/user/view-feedbacks">My Feedbacks</a></li>
 
    </ul>
 
  </div> |
 
  <a (click)="logout()" style="cursor:pointer;">Logout</a>
 
</nav>
 
<hr>
 
 