<div class="adminnav">
  <h1>User Dashboard</h1>
  <nav class="nav">
  <a routerLink="/home">Home</a> |
  <a routerLink="/view-mentorships">Mentorship Programs</a> |
  <a routerLink="/applied-mentorships">Applied Programs</a> |
  <div class="indiv">
  <span>Feedback</span>
  <ul>
  <li><a routerLink="/post-feedback">Post Feedback</a></li>
  <li><a routerLink="/view-feedbacks">My Feedbacks</a></li>
  </ul>
  </div> |
  <a (click)="logout()" class="logout-btn">Logout</a>
  </nav>
  <hr>
  </div>
 